*{
    margin: auto;
    padding: 15px;
}
body{
    background-color: hsla(180, 84%, 55%, 0.658);

    
}
header{
    background-color: rgb(214, 137, 22);
    border: 2;
    border-radius: 3;
}
h1{
    color: hsla(240, 77%, 46%, 0.701);
    text-align: center;
}
h3{
    color: hsl(0, 77%, 8%);
    text-align: center;

}
hr{
    color: hsl(106, 85%, 51%);
}